body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flexbox;
}
html {
    scroll-behavior: smooth;
}
#headerRow {
    height: auto;
    text-align: center;
    padding: 100%;
    h1, p {
        font-weight: bold;
    }
}
table{
    width: 100%;
    height: auto;
    text-align: center;
}
#linksCell {
    height: 3.5em;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(51, 51, 51, 80%);
    opacity: 90%;
    li {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        transition: font-size 0.2s ease-out;
    }
    a:hover{
        font-size: 1.3em;
        cursor: pointer;
        font-weight: bold;
        transition: font-size 0.2s ease-in;
    }
}
p{
    padding-left: 20%;
    padding-right: 20%;
}
#aboutSinks{

}
#typesOfSinks{
    padding-top: 12%;
    padding-bottom: 12%;
}
#featureAndBenefit{

}
.images {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}
