body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flexbox;
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}
#headerRow {
    height: auto;
    text-align: center;
    padding: 100%;
}
table{
    width: 100%;
    height: auto;
    text-align: center;
}
#linksCell {
    height: 3.5em;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(51, 51, 51, 80%);
    opacity: 90%;
    li {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
        padding-left: 15px;
    }
    a{
        border-radius: 20px;
        text-decoration: none;
        color: #ffffff;
        transition: font-size 0.2s ease-out, background-color 0.2s ease-out;
    }
    a:hover{
        padding: 5px;
        background-color: #ececec;
        color: #242424;
        font-size: 1.3em;
        cursor: pointer;
        font-weight: bold;
        transition: font-size 0.2s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
    }
}
#footerRow{
    height: auto;
    text-align: center;
    padding: 100%;
    background-color: rgba(41, 41, 41, 80%);
    opacity: 90%;
    color: #ececec;
}
p{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3em;
    font-weight: bold;
    color: #242424;
}

#featureAndBenefit{
    padding-bottom: 5%;
}
#image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.images {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 35%;
    height: 400px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    transition: width 0.2s ease-out, height 0.2s ease-out;
}
.images:hover{
    width: 37%;
    height: 420px;
    transition: width 0.2s ease-in, height 0.2s ease-in;
}
